body {
    background: #252830;
    color: white;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    line-height: 1.42857143;
    padding: 0px 0px 20px;
}

img {
    vertical-align: middle;
    border: 0;
}

a {
    color: #98e8ff;
    text-decoration: none;
}

a:hover {
    color: #4cd7ff;
    text-decoration: underline;
}

table {
    text-align: left;
    border-spacing: 0px 0px;
    border-collapse: separate;
}

th {
    color: #cecece;
    font-weight: 500;
    font-size: 16px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td, th {
    padding: 8px;
}

/* CLASSES */
.container {
    min-width: 960px;
    width: auto !important;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}

@media (min-width: 768px)
.navbar {
    border-radius: 0;
}

.navbar {
    padding: 0 5px 0 5px;
    position: relative;
    min-height: 80px;
    margin-bottom: 20px;
    border-bottom: 1px solid #1EDCFF;
    box-sizing: border-box;
}

.navbar img {
    width: 40px;
    height: auto;
    padding-top: 17px;
    vertical-align: middle;
    border: 0;
}

.navbar-header {
    margin-right: 0;
    margin-left: 0;
    float: left;
    padding: 0 15px 15px;
}

.navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    padding-left: 30px;
    padding-top: 25px;
    float: left;
    padding: 35px 15px 15px;
    line-height: 20px;
}

@media (min-width: 768px)
.navbar-right {
    float: right !important;
}

.nav > li {
    position: relative;
    display: block;
    float: right;
}

.navbar-cluster-info {
    display: block;
    box-sizing: border-box;
    padding: 25px 15px 15px;
    position: relative;
    color: #666;
    font-size: 11px;
}

.navbar-cluster-info .text {
    color: #fff;
    font-size: 16px;
}

.uppercase {
    text-transform: uppercase;
}

.heading-container {
    margin-bottom: 5px;
}

.heading {
     background-color: #3e3e3e;
     padding: 5px;
     color: #ccc;
     text-transform: uppercase;
     font-size: 16px;
     line-height: 1;
}

.group-container {
    border-bottom: 1px #424242 solid;
    padding: 15px 0;
}

.availableClusters {
   margin-top: 5px;
}

.refresh-button-container {
    margin: 5px 15px;
}

.button {
    color: #333333;
    padding: 5px;
    border: 1px #ccc solid;
    background: #fff;
    line-height: 2;
}

.button:hover {
    padding: 5px;
    border: 1px #ccc solid;
    background: #e6e6e6;
    color: #333333;
    text-decoration: none;
}

.query-history-table {

}

.pull-left {
    float: left !important
}

.pull-right {
    float: right !important
}

.dataTables_filter input {
    width: 500px
}

th.cluster-name {
    min-width: 150px;
}

.right {
    text-align: right
}

query-history-table {
    background: transparent;
}